<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915539975984-gip8kjqrj23gqbfr278hbl3206pfn7g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915539975984-gip8kjqrj23gqbfr278hbl3206pfn7g2</string>
	<key>API_KEY</key>
	<string>AIzaSyCjNiAC6JJfbYYDbmthQDE5tIfsNEOQrDs</string>
	<key>GCM_SENDER_ID</key>
	<string>915539975984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NetraTechnosys.Swaptd.MessageExtension</string>
	<key>PROJECT_ID</key>
	<string>swaptd</string>
	<key>STORAGE_BUCKET</key>
	<string>swaptd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915539975984:ios:3f138a9011e4d4fe</string>
	<key>DATABASE_URL</key>
	<string>https://swaptd.firebaseio.com</string>
</dict>
</plist>